<p>Estimado {{ name }},</p>
<p>La solicitud ha sido ingresada con éxito, en breve te contactaremos para finalizar el proceso.</p>
<p>
    Código de solicitud: <b>{{token}}</b>
</p>

<p>Equipo Card Applications</p>